<div class="card">
  <header class="card__header">
    <img class="card__image" src="{{card.src}}" alt="{{card.alt}}">
    <h4 class="card__title">{{card.title}}</h4>
  </header>
  <ul>
    <li>
      <address>
        {{{card.address}}}
      </address>
    </li>
  </ul>
</div>
