/*------------------------------------*\
    #FORMS
\*------------------------------------*/

/**
 * Fieldset base styles
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/**
 * Label base styles
 */
label {
  display: block;
  font-weight: bold;
  padding-bottom: 0.2rem;
}

/**
 * Form button, input, select, and text area base styles
 * 1) Zero out margin and inherit font styles
 */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/**
 * Input and text area base styles
 * 1) Width entire container, gray border, padding
 */
input,
textarea {
  border: 1px solid $color-gray-35;
  border-radius: $border-radius;
  padding: 1rem;
  width: 100%;
}

/**
 * Input areas base styles
 * 1) Get rid of webkit appearance of these areas
 */
input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea {
  -webkit-appearance: none; // stylelint-disable-line
}

/**
 * Button/Submit button base styles
 */
button,
input[type='submit'] {
  background: $color-gray-73;
  border: 1px solid $color-gray-50;
  cursor: pointer;
  padding: $pad-half;
}

/**
 * Checkboxes/Radio button base styles
 */
input[type='checkbox'],
input[type='radio'] {
  margin-right: 0.3em;
  width: auto;
}

/**
 * Search cancel button and search decoration webkit appearance none
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; // stylelint-disable-line
}
