/*------------------------------------*\
    #BLOCKS
\*------------------------------------*/
/**
 * 1) Blocks are collections of text and/or images/media working together as a unit.
 */





/*------------------------------------*\
	#HERO BLOCK
\*------------------------------------*/
.c-block-hero {
  display: block;
  position: relative;
}

/**
 * Hero Image
 * 1) This is the primary hero image that runs full-bleed across the layout
 */
.c-block-hero__img {
  display: block;
  max-height: 50vh;
  object-fit: cover;
  width: 100%;
}

/**
 * Hero Headline
 * 1) This sits overtop of the hero image when space permits
 */
.c-block-hero__headline {
  background: $color-dim-50;
  color: $color-white;
  font-size: 2.6rem;
  padding: 1rem;
  transition: all $anim-speed-quick $anim-ease;

  .c-block-hero:hover &,
  .c-block-hero:focus & {
    background: $color-gray-73;
  }

  @media all and (min-width: $bp-large) {
    border-radius: $border-radius;
    left: 1rem;
    position: absolute;
    top: 3rem;
    width: 50%;
  }
}





/*------------------------------------*\
	#MEDIA BLOCK
\*------------------------------------*/

/**
 * 1) Media block contains an image (or some other media) on the left
 * and text on the right.
 * 2) For more info, read http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 */
.c-block-media {
  display: flex;
  transition: all $anim-speed-quick $anim-ease;

  &:hover,
  &:focus {
    .c-block-media__headline {
      color: $color-brand-green;
    }
  }

  &--small {
    font-size: $font-size-small-2;
  }
}

/**
 * Media Container
 * 1) This is the container that holds the block image (or media)
 */
.c-block-media__media {
  margin-right: 1rem;
  max-width: 11em;
  width: 20%;

  .c-block-media--small & {
    margin-right: 0.5rem;
    max-width: 3.5em;
  }

  @media all and (min-width: $bp-med) {
    margin-right: 1.5rem;
    width: 50%;
  }
}

.c-block-media__img {
  border-radius: $border-radius;
}

.c-block-media__headline {
  color: $color-gray-65;
  margin-bottom: 0.2em;
  transition: all $anim-speed-quick $anim-ease;

  .c-block-media--small & {
    font-size: $font-size-med;
  }
}

.c-block-media__body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.c-block-media__excerpt {
  color: $color-gray-35;
  transition: all $anim-speed-quick $anim-ease;

  .c-block-media--small & {
    line-height: 1.2;
    margin-bottom: 0;
  }
}


/*------------------------------------*\
	#TOUT BLOCK
\*------------------------------------*/

/**
 * 1) The tout block contains an image and headline overlayed over the image.
 */
.c-block-tout {
  border-radius: $border-radius;
  display: inline-block;
  margin-bottom: $space-half;
  overflow: hidden;
  position: relative;
}

/**
 *  Tout image
 */

.c-block-tout__img {
  display: block;
}

/**
 *  Tout headline
 */
.c-block-tout__headline {
  background: $color-dim-50;
  bottom: 0;
  color: $color-white;
  font-size: 1.4rem;
  left: 0;
  padding: $pad-half;
  position: absolute;
  transition: all $anim-speed-quick $anim-ease;
  width: 100%;

  .c-block-tout:hover &,
  .c-block-tout:focus & {
    padding-bottom: 2rem;
  }
}



/*------------------------------------*\
	#TILE BLOCK
\*------------------------------------*/

/**
 * 1) The tile block contains a span and headline overlayed on a background
 */
.c-block-tile {
  align-items: center;
  background: $color-dim-50;
  border-radius: $border-radius;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 1em;
  text-align: center;
  transition: all $anim-speed-quick $anim-ease;
  width: 100%;

  &:hover,
  &:focus {
    background: $color-dim-70;
    color: $color-white;
  }

  @media all and (min-width: 55rem) {
    padding: 4em 1em;
  }
}

/**
 * Featured tile block
 */
.c-block-tile--featured {
  min-height: 200px;
}

/**
 * Tile block value
 */
.c-block-tile__value {
  font-size: 1.5rem;
  line-height: 1.2;

  /**
	 * Tile value when inside featured tile parent selector
	 */
  .c-block-tile--featured & {
    font-size: 2.5rem;

    @media all and (min-width: $bp-med) {
      font-size: 5rem;
    }
  }

  @media all and (min-width: 55rem) {
    font-size: 3rem;
  }
}

.c-block-tile__label {
  color: $color-gray-15;
  font-size: $font-size-med;
  font-weight: normal;
}
