/*------------------------------------*\
    #ICONS
\*------------------------------------*/

/**
 * Icon fonts
 */
@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
}

/**
 * Use the following CSS code if you want to use data attributes for inserting your icons
 */
[data-icon]::before {
  content: attr(data-icon);
  font-family: 'icons';
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  line-height: 1;
  speak: none;
}

/**
 * Icons and icon pseudo-elements
 */
.icon-twitter::before,
.icon-stumbleupon::before,
.icon-pinterest::before,
.icon-linkedin::before,
.icon-google-plus::before,
.icon-search::before,
.icon-play::before,
.icon-menu::before,
.icon-arrow-left::before,
.icon-arrow-right::before,
.icon-bubble::before,
.icon-facebook::before,
.icon-feed::before,
.icon-youtube::before,
.icon-tag::before,
.icon-tumblr::before,
.icon-instagram,
.icon-podcast,
.icon-apple,
.icon-android,
.icon-arrow::after,
.icon-envelope::before {
  font-family: 'icons';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

/**
 * Twitter icon
 */
.icon-twitter::before {
  content: '\74';
}

/**
 * Stumbleupon icon
 */
.icon-stumbleupon::before {
  content: '\75';
}

/**
 * Pinterest icon
 */
.icon-pinterest::before {
  content: '\70';
}

/**
 * LinkedIn icon
 */
.icon-linkedin::before {
  content: '\69';
}

/**
 * Google plus icon
 */
.icon-google-plus::before {
  content: '\67';
}

/**
 * Icon search
 */
.icon-search::before {
  content: '\73';
}

/**
 * Menu icon
 */
.icon-menu::before {
  content: '\21';
}

/**
 * Arrow left icon
 */
.icon-arrow-left::before {
  content: '\23';
}

/**
 * Arrow right icon
 */
.icon-arrow-right::before {
  content: '\24';
}

/**
 * Bubble icon
 */
.icon-bubble::before {
  content: '\25';
}

/**
 * Facebook icon
 */
.icon-facebook::before {
  content: '\66';
}

/**
 * Feed icon
 */
.icon-feed::before {
  content: '\27';
}

/**
 * YouTube icon
 */
.icon-youtube::before {
  content: '\79';
}

/**
 * Tag icon
 */
.icon-tag::before {
  content: '\28';
}

/**
 * Tumblr icon
 */
.icon-tumblr::before {
  content: '\6d';
}

/**
 * Instagram icon
 */
.icon-instagram::before {
  content: '\22';
}

/**
 * Podcast icon
 */
.icon-podcast::before {
  content: '\26';
}

/**
 * Android icon
 */
.icon-android::before {
  content: '\29';
}

/**
 * Twitter icon
 */
.icon-apple::before {
  content: '\2a';
}

/**
 * Envelope icon
 */
.icon-envelope::before {
  content: '\2b';
}

/**
 * Arrow icon
 */
.icon-arrow::after {
  content: '\61';
  display: inline-block;
  transform: rotate(90deg);
}

/**
 * Play icon
 */
.icon-play::before {
  content: '\61';
  font-size: 0.7rem;
  padding-left: 0.2em;
}

/**
 * Play box icon
 */
.icon-play-box {
  display: block;
  margin-left: $pad-double;
}

/**
 * Play box icon before
 */
.icon-play-box::before {
  background: $color-gray-50;
  color: $color-white;
  margin-left: -1.7rem;
  margin-right: $pad-half;
  padding: $pad-quarter;
}
