<form
  class="contact-form"
  method="get"
  action="{{ link.templates-thank-you-page }}">
  <h3>Everything starts with a hello! Let us know how we can help.</h3>
  {{>atoms-text-input(label:"first name",id:"firstname"):is-required}}
  {{>atoms-text-input(label:"last name",id:"lastname")}}
  {{>atoms-text-input(label:"email",id:"email")}}
  {{>atoms-text-input(label:"company",id:"company")}}
  {{>atoms-submit-input(label:"Submit")}}
</form>
